.margin-right {
  margin-right: 10px;
}

.margin-left {
  margin-left: 10px;
}

.margin-top {
  margin-top: 10px;
}

.margin-bottom {
  margin-bottom: 10px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.item-1 {
  flex: 5 0 250px;
}
.item-2 {
  flex: 1 0 30px;
}
